# Local Docker Keycloak (make up + make seed)
VITE_OIDC_AUTHORITY=http://localhost:8080/realms/docvault
VITE_OIDC_CLIENT_ID=docvault-web-react
VITE_API_BASE_URL=http://localhost:5001

# Azure deployment - the ONLY change needed to move this app to the cloud:
# VITE_OIDC_AUTHORITY=https://<your-keycloak-host>/realms/docvault
